body {

    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


h1
{
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  margin-top: 13%;
  font-size: 30px;
  margin-bottom: 10%;
  text-align: center;
}

.To_Do_Form
{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: rgb(69, 37, 99);
  width: 90vh;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
}

.Two_parts
{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Upper_part
{
  width: 85%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 5%;
}

.Input_one
{
  border-style: solid;
  border-color: blueviolet;
  border-radius: 9px 0px 0px 9px;
  border-width: 1px;
  padding: 15px;
  background-color: rgba(223, 0, 0, 0);
  outline: none;
  width: 70%;
  color: rgba(255, 255, 255, 0.658);
  font-size: 15px;
}

.Another
{
  border-style: solid;
  border-color: blueviolet;
  border-radius: 15px 0px 0px 15px;
  border-width: 1px;
  padding: 15px;
  background-color: rgba(45, 223, 0, 0.068);
  outline: none;
  width: 70%;
  color: rgba(255, 255, 255, 0.658);
  font-size: 15px;
  margin-top: 2%;
}

.Input_one::placeholder {
  color: #ffffff4d;
}

.Add_task
{
  border-color: blueviolet;
  border-radius: 0px 9px 9px 0px;
  border-width: 1px;
  padding: 15px;
  background-color: rgb(152, 68, 230);
  width: 30%;
  color: rgba(255, 255, 255, 0.829);
  cursor: pointer;
}

.Another2
{
  border-color: blueviolet;
  background-color: rgba(137, 43, 226, 0.644);
  border-left: none;
  border-radius: 0px 15px 15px 0px;
  margin-top: 2%;
}



.Lower_part
{
  width: 80%;
  margin: 0 auto;
  margin-top: 7%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(104, 72, 134, 0);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Todo_class
{
  height: 50px;
  width: 85%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(142, 63, 216, 0.61);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
  border-color: rgba(255, 255, 255, 0.39);
}

.Word_container
{
  padding-left: 0%;
  width: 80%;
}

p
{
  word-wrap: break-word;
  font-family: sans-serif;
  margin-left: 2%;
  font-size: 14px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.733);
}

.Icons
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50%;
}

.ico{
  margin-left: 8%;
  color: rgba(255, 255, 255, 0.842);
  cursor: pointer;
}










.Every_Todo
{
  width: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Everything
{
  height: 97vh;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(104, 72, 134, 0);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgb(69, 37, 99);
  width: 90vh;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.548);
}